*{
    font-family: 'Courier New', Courier, monospace;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ae0dce;
    border-radius: 10px;
    
}
nav{
text-align: center;
height: 25px;
}


#logoheader{
    height: 130px;
    position: absolute;
    right: 40px;
    top: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;

}
nav a:hover{
    font-size: 25px;
    color: #ae0dce;
}

#container{
    justify-content: center;
    align-items: center;
}
main{
    align-items: center;
    display: flex;
}
section {
   
    width: 85%;
    height: 650px;
    margin-top: 20px;
    text-align: justify;
    transition: all 0.7s ease;
    background-color: #000000;
    

}

section:hover{
    transform: scale(1.1);
    background-color: #ae0dce;
}

h1, h2{
    color: #ffffff; /* Azul */
}
p{
    color: #ffffff;
    font-size: 15px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #777;
    background-color: #000000; /* Gris claro */
    padding: 10px;
}


@media (max-width: 768px) {
    header, nav, section, footer {
        margin: 0;
        padding: 0;
    }
    #logoheader {
        height: 80px;
        right: 10px;
        top: 10px;
    }
    nav{
        height: 60px;
    }
    nav li {
        display: inline;
        margin: 5px 0;
    }
    nav a {
        font-size: 18px;
    }
    main {
        flex-direction: column;
    }
    section {
        width: 225px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
        margin: 20px;
    }
}

